body { background: #e855a3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 57px; display: flex; }
.block-notify-0 { color: #b153d2; font-size: 17px; margin-bottom: 5px; }
.block-user-1 { color: #46de19; font-size: 20px; margin-bottom: 5px; }
.block-email-2 { color: #56c9fc; font-size: 14px; margin-bottom: 5px; }
.block-shipping-3 { color: #7332a2; font-size: 17px; margin-bottom: 5px; }
.block-product-4 { color: #6f4f0; font-size: 18px; margin-bottom: 5px; }
.block-auth-5 { color: #ca35a2; font-size: 21px; margin-bottom: 5px; }
.block-user-6 { color: #64dc8a; font-size: 17px; margin-bottom: 5px; }